.reg_form
	text-align: left
	width: 330px

	h3
		margin-bottom: 25px

.reg_wrap
	align-items: flex-start
	padding-top: 35px
	height: 620px

.reg_photo
	width: 700px

.reg_photo_t
	padding: 25px 0
	padding-right: 100px

.reg_why_block
	padding: 25px
	border: 1px solid $c-border
	margin-top: 25px
	border-radius: 8px
	margin-right: 100px

.reg_photo_icon
	margin: 0 10px

.form_policy
	margin-bottom: 20px
	font-size: 14px

.reg_succ
	padding: 60px 0
	max-width: 600px
	margin: 0 auto

.born_day, .born_year
	width: 80px

	.select_name
		min-width: auto

	.input
		padding: 12px 15px

.born_month
	width: 130px

.born_year
	width: 105px
